aclocal.m4
Makefile
Makefile.in
autom4te.cache/
configure
build-config.h
build-config.h.in
build-config.h.in~
config.log
config.status
config.cache
stamp-h.in
stamp-h1
libtool
opendmarc-[0-9].[0-9].[0-9]
opendmarc*.gz
opendmarc*.gz.sha1
opendmarc*.gz.md5
opendmarc*.gz.asc
*.orig
*.rej
HOURS
tags
.vscode
libopendmarc/dmarc.h
