*.orig
*.rej
Makefile.in
opendmarc-bounce-handler
opendmarc-bounce-handler.8
opendmarc-expire
opendmarc-expire.8
opendmarc-import
opendmarc-import.8
opendmarc-params
opendmarc-params.8
opendmarc-reports
opendmarc-reports.8
opendmarc-importstats.8
opendmarc-run
